<form action="/create" method="POST">
    <h2>Create todo</h2>

    <div class="input-field">
        <input id="title" type="text" name="title">
        <label for="title">Create Todo</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

