  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Error</span>
          <p>An Error occured</p>
        </div>
        <div class="card-action">
          <a href="/">Home</a>
        </div>
      </div>
    </div>
  </div>