<div class="row">
    <h2>Sign Up</h2>
    <form class="cos s12" action="/signup" method="POST">
        <div class="row">
            <div class="input-field col offset-s2 s8">
                <input id="first_name" type="text" class="validate" name="first_name">
                <label for="first_name">First name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col offset-s2 s8">
                <input id="last_name" type="text" class="validate" name="last_name">
                <label for="last_name">Last name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col offset-s2 s8">
                <input id="email" type="text" class="validate" name="email">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col offset-s2 s8">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col offset-s2 s8">
                <input id="password_confirm" type="password" class="validate" name="password_confirm">
                <label for="password_cofirm">Confirm password</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
            SignUp
        </button>
    </form>
</div>